body {
  background-color: #aaa;
}

.container {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 70%;
  height: 70%;
  margin: 40px auto;
  padding: 10px;
  border: 5px outset white;
  box-shadow: 10px 20px 11px black;
}

header {
  display: flex;
  flex-wrap: wrap;
}

#box1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 10px;
  border: 3px ridge white;
}

/* #name {
  text-align: center;
  flex-grow: 1;
} */

#details {
  border: 3px ridge white;
  flex-grow: 1;
}

#details > ul {
  list-style: none;
}

a {
  color: white;
}

#about {
  width: 100%;
  text-align: center;
  /* border-top: 3px ridge white; */
}

.img-container {
  height: 180px;
  width: 180px;
  border: 5px inset white;
}

#me {
  height: 180px;
  width: 180px;
}

main {
  display: flex;
  /* border: 1px solid red; */
  border-top: 3px ridge white;
}

section {
  flex-grow: 1;
  padding: 20px;
  border-right: 3px ridge white;
}

.category > h2 {
  padding-bottom: 5px;
  border-bottom: 3px ridge white;
}

.description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

aside {
  /* border: 1px solid green; */
  padding: 20px;
  flex-grow: 1;
}

aside > h2 {
  text-align: center;
  border-bottom: 3px ridge white;
}