/* body {
  height: 100vh;
} */

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 5px 11px black;
}

header {
  display: flex;
  flex-wrap: wrap;
}

#box1 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

/* #name {
  text-align: center;
  flex-grow: 1;
} */

#details {
  flex-grow: 1;
}

#details>ul {
  list-style: none;
}

#about {
  width: 100%;
  text-align: center;
}

/* #box1>div {
  border: 1px solid red;
} */

.img-container {
  height: 180px;
  width: 180px;
}

#me {
  height: 180px;
  width: 180px;
}

main {
  display: flex;
  border: 1px solid red;
}

section {
  flex-direction: column;
  border: 1px solid blue;
}

.description {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 30%;
}

aside>h2 {
  text-align: center;
}